<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <%-include('../Partials/navbar.ejs') %>
    <h2>List Mahasiswa</h2>
    <a href="/MataPelajaran">List Mata Pelajaran</a>
    <table>
        <tr>
            <th>No.</th>
            <th>Nama Mahasiswa</th>
            <th>Jurusan</th>
        </tr>
        <%for(let i = 0;i<dataMahasiswa.length;i++){ %>
        <tr>
            <td><%=i+1%></td>
            <td><%=dataMahasiswa[i].name %></td>
            <td><%=dataMahasiswa[i].Jurusan.name %></td>
        </tr>
        <% } %>
    </table>

</body>

</html>